/** Application wide css rules in this document. */
		
/* html body tag */
#stage {
	position: fixed;
	top: 0px;
	left: 0px;
	bottom: 0px;
	right: 0px;
}

/* layout positions and behaviour*/

#header_area {
	position: absolute;
	left: 0px;
	right: 0px;
	top: 0px;
	height: 100px;
}

/* this element belongs to the header. it's placed on top of header_area. */
#sectioninfo_area {
	position: absolute;
	top: 20px;
	right: 20px;
	height: 60px;
	width: 220px;
}

#navigator_area {
	display: block;

	position: absolute;
	top: 100px;
	bottom: 55px;
	left: 0px;
	width: 150px;
}

#content_area {	
	display: inline-block;

	position: absolute;	
	top: 100px;
	left: 150px;
	right: 0px;
	bottom: 55px;
}


#footer_area {		
	position: absolute;	
	bottom: 0px;
	left: 0px;
	right: 0px;
	height: 55px;
}

#error_area {
	position: absolute;	
	top: 0px;
	left: 0px;
	width: 0px;
	height: 0px;
}

/* Coloring and other styles incl. padding, margin and text formatting.*/

.stage_style {
	/* needed for FF */
	margin: 0;
	margin-right: 0px;	
	
	/* background-color: blue; */
	text-align: center;
}

.header_style {
	/* background-color: white; */
	background: rgb(155,158,198); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(155,158,198,1) 0%, rgba(83,83,94,1) 3%, rgba(6,6,7,1) 50%, rgba(83,83,94,1) 90%, rgba(213,212,247,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(155,158,198,1)), color-stop(3%,rgba(83,83,94,1)), color-stop(50%,rgba(6,6,7,1)), color-stop(90%,rgba(83,83,94,1)), color-stop(100%,rgba(213,212,247,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(155,158,198,1) 0%,rgba(83,83,94,1) 3%,rgba(6,6,7,1) 50%,rgba(83,83,94,1) 90%,rgba(213,212,247,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(155,158,198,1) 0%,rgba(83,83,94,1) 3%,rgba(6,6,7,1) 50%,rgba(83,83,94,1) 90%,rgba(213,212,247,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(155,158,198,1) 0%,rgba(83,83,94,1) 3%,rgba(6,6,7,1) 50%,rgba(83,83,94,1) 90%,rgba(213,212,247,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(155,158,198,1) 0%,rgba(83,83,94,1) 3%,rgba(6,6,7,1) 50%,rgba(83,83,94,1) 90%,rgba(213,212,247,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#9b9ec6', endColorstr='#d5d4f7',GradientType=0 ); /* IE6-9 */

	color:#D5D4F7;
}

.footer_style {
	/* background-color: white; */
	background: rgb(213,212,247); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(213,212,247,1) 0%, rgba(83,83,94,1) 10%, rgba(0,0,0,1) 50%, rgba(83,83,94,1) 90%, rgba(155,158,198,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(213,212,247,1)), color-stop(10%,rgba(83,83,94,1)), color-stop(50%,rgba(0,0,0,1)), color-stop(90%,rgba(83,83,94,1)), color-stop(100%,rgba(155,158,198,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(213,212,247,1) 0%,rgba(83,83,94,1) 10%,rgba(0,0,0,1) 50%,rgba(83,83,94,1) 90%,rgba(155,158,198,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(213,212,247,1) 0%,rgba(83,83,94,1) 10%,rgba(0,0,0,1) 50%,rgba(83,83,94,1) 90%,rgba(155,158,198,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(213,212,247,1) 0%,rgba(83,83,94,1) 10%,rgba(0,0,0,1) 50%,rgba(83,83,94,1) 90%,rgba(155,158,198,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(213,212,247,1) 0%,rgba(83,83,94,1) 10%,rgba(0,0,0,1) 50%,rgba(83,83,94,1) 90%,rgba(155,158,198,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d5d4f7', endColorstr='#9b9ec6',GradientType=0 ); /* IE6-9 */

	color:#D5D4F7;
}

.navigator_style {
	background-color: #D5D4F7; 
}

.content_style {
	background-color: #D5D4F7;
	padding: 15px;
}

.sectioninfo_style {}
.error_style {}
